@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body{
    background-color: #f7f9fb;
    padding: 0px;
    margin: 0px;
}
*{
    font-family: 'Roboto';
}
header{
    position: relative;
    background-color: white;
    box-shadow: 2px 2px 2px whitesmoke;
}
header li{
    display: inline-block;
    margin-right: 30px;
}
header li a:active, header li a:hover{
    color: blueviolet;
}
.textcolor{
    color: blueviolet;
    font-size: large;
}
.textcolor-gras{
    color: blueviolet;
    font-size: x-large;
}
nav{
    display: none;
    position: fixed;
    height: 60px;
    background-color: white;
    /* border-bottom: 2px solid blueviolet; */
    transition: transform 0.3s cubic-bezier(0.73, 0.11, 0.67, 0.84);
    /* box-shadow: #fff; */
    box-shadow: 2px 2px 2px whitesmoke;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    /* margin: 0px; */
}
.text-navbar{
    float: left;
    margin-left:10px ;
}
a{
    color: black;
    text-decoration: none;
}
svg{
    display: none;
    cursor: pointer;
    color: blueviolet;
    float: right;
}
button{

    background-color: blueviolet;
    border: blueviolet;
    border-radius: 10px;
    color: #fff;
    height: 40px;
    width: 100px;
    padding: 5px;
}
.texteMenu{
    margin: 10px;
}
.content{
    background-image: url('images/img-villa10.JPG');
    /* width: 100vw; */
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: end;
    border-radius: 5px;

}
.content .row{
    background-color: whitesmoke;
    opacity: 0.75;
}
.bloc-button{
    /* width: 100px; */
    display: flex;
    justify-content: center;
}
.row{
    display: flex;
    justify-content: space-evenly;
}
.img-hotel{
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    width: 280px;
    height: 200px;
}
.container{
    width: 300px;
    padding: 10px 10px 10px 5px; 
    /* margin-bottom: 20px; */
    /* margin: 10px 5px 0px 0px;
    marg */
    margin-bottom: 30px;
    /* border: 1px solid dodgerblue; */
    border-radius: 10px;
    background-color: white;
    /* box-shadow: 3px 3px 3px #f6f2f2c5; */
    box-shadow: 3px 3px 3px whitesmoke;
}
.petit-text{
    color: grey;
    font-size: 15px;
}
.localisation{
    color: grey;
    font-size: 14px;
}
.about{
    /* justify-content: center; */
    /* background-color: darkred; */
    border: 1px solid red;
    /* align-items: center; */
    /* display: flex; */
}
.card{
    width: 260px;
    /* margin: 0px 2px 5px 2px; */
    margin-bottom: 20px;
    height: 200px;
    border-radius: 0%;
    border: 1px solid dodgerblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact{
    text-align: center;
    margin-top: 50px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f9fb;
    width: 100%;
    padding-bottom: 250px;
}
input{
    height: 50px;
}
.button-form{
    width: 70%;
}
.button-form button{
    background-color: blueviolet;
    height: 50px;
    width: 100%;
}
footer{
    padding-top: 30px;
    background-color: #24262a;
    color: white;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 150px; */
}
footer li{
 display: inline-block;
 margin: 5px;   
}
.icon{
    width: 10px;
}

@media (max-width: 768px) {
    header .row{
        display: none;
    }
    header button{
       display: none;
    }
    nav{
        margin-top: -40px;
        margin-left: 0px;
        display: block;
    }
    .menu{
        /* margin-top: -80px; */
        padding: 15px 0px;
        margin-left: 0px;
    }
    svg{
        display: block;
        float: right;
        position: relative;
        z-index: 10;
    }
    .nav-text{
        display: none;
    }
    /* .content{
        margin-top: 500px;
    } */
    .container{
        width: 400px;
    }
    .img-hotel{
        width: 380px;
        height: 250px;
    }
}